 <style>
  .btn-search{
    background-color: red;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: red;
    color: white;
  }
  .btn-search i{
      display: inline;
      margin-right: 0.5rem;
  }
  .search-inp{
    border-radius: 25px;
    padding: 0.5 3rem 0.5rem 3rem;
    font-size: 0.8rem;
  }
 </style>
 <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom sticky-top shadow-sm">
  <div class="container-fluid px-4">

    <!-- Logo -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>

    <!-- Search Box -->
    <form class="d-flex d-lg-none mx-auto" style="width:60%;">
  <input class="form-control search-inp" type="search" placeholder="Search">
    <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
</form>

    <!-- Toggle Button (Mobile only) -->
    <button class="navbar-toggler d-lg-none" type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar">

      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Desktop Menu -->
    <div class=" d-none d-lg-flex w-100">

      <ul class="navbar-nav me-auto">


        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>

          </ul>
               <!-- Center Search -->
             <form class="d-flex  mx-auto" style="max-width:400px; width:100%;">
           <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" >
           <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
           </form>
          

      <ul class="navbar-nav">
            <li class="nav-item">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
        </li>
        <% if(!currUser){ %>

        <li class="nav-item">
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login"><b>Login</b></a>
        </li>

        <% } %>

        <% if(currUser){ %>

        <li class="nav-item">
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        </li>

        <% } %>

      </ul>

    </div>

  </div>
</nav>

<!-- Mobile Offcanvas -->
<div class="offcanvas offcanvas-end d-lg-none" tabindex="-1" id="offcanvasNavbar">

  <div class="offcanvas-header">

    <h5 class="offcanvas-title">Menu</h5>

    <button type="button" class="btn-close"
      data-bs-dismiss="offcanvas"></button>

  </div>

  <div class="offcanvas-body">

    

    <ul class="navbar-nav">

      

      <li class="nav-item">
        <a class="nav-link" href="/listings">Explore</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
      </li>

      <% if(!currUser){ %>

      <li class="nav-item">
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/login"><b>Login</b></a>
      </li>

      <% } %>

      <% if(currUser){ %>

      <li class="nav-item">
        <a class="nav-link" href="/logout"><b>Logout</b></a>
      </li>

      <% } %>

    </ul>

  </div>

</div> 