body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    flex: 1;
}


.navbar {
    height: 5rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.fa-compass {
    color: red;
    font-size: 2rem;
}

.nav-link{
    color: black !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: black;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links{
    width: 100%;
}
.f-info-socials{
    width: 100%;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 6rem;
    background-color: gainsboro;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-im-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
   
}

.listing-link {
    text-decoration: none;
    color: black;
}

/* Card Effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: red !important;
    border: none !important;
}

.btn-edit {
     background-color: red !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 30vh;
    border-radius: 12px;
}

.btns{
     display: flex;
}

.btn-delete{
    background-color: red !important;
    border: none !important;

}

/* .custom-hr{
   
    position: relative;
    left: 113px;
    width: 66% !important;
} */

.custom-hr{
    width: 100%;
}

/* 
.main-container{
    position: relative;
    right: 133px;
} */

.main-container{
    padding: 0 15px;
}

/* #map{
    height: 400px;
    width: 100vh;
} */

#map{
    height: 400px;
    width: 100%;
}

/* Tablet */
@media (max-width: 992px) {
  #map{
    height: 250px;
    width: 280px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  #map{
    height: 250px;
  }
}

/* Very small phones (400px) */
@media (max-width: 400px){

  h3{
    font-size: 20px;
  }

  .show-img{
    height: 200px;
  }

  .card-body{
    font-size: 14px;
  }

  #map{
    height: 200px;
  }

}